/* ALL CSS IN THIS FILE IS MADE BY JACOB */
.topbarWithImage {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.0)),
    url("images/sample.png");
  background-color: #f7f7f7;
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--text-color-light);
  padding: 13.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 0.9em;
  height: 12em;
  display: flex;
  justify-content: center;
}

.topbarText {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
}

.topbarText button {
  height: 32px;
  background: none;
  border: none;
}

.backButton {
  filter: invert();
}

.favoriteButton {
  filter: invert();
}

#gameInfo {
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: var(--light-grey);
  border-radius: 20px;
  text-align: center;
}

#gameInfoWrapper {
  display: flex;
  max-width: 320px;
  margin: auto;
  padding: 0.3em 1em 0 1em;
  justify-content: space-around;
}

#gameInfo p {
  font-weight: bold;
  line-height: 1px;
}

.pieceOfGameInfo {
  margin: 1em;
}

.topbarWithImage h2 {
  margin: 0;
  font-weight: bold;
}

#gameDescription {
  text-align: left;
  max-width: 500px;
  margin: 2em auto;
}

#gameDescription h3 {
  font-weight: 900;
  letter-spacing: normal;
  margin: 0;
}

.pageWithMargin {
  margin: 11em 1.5em 2em 1.5em;
}