/* ---------- Filter(Joshua) ---------- */
.filter-wrapper {
    padding: 1em;
}

.grid-system {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    margin-top: 3em;
}

.box {
    width: 100%;
    height: 5em;
    background-color: white;
    border-radius: 10px;
    border: solid;
    font-size: 1em;
    font-weight: bold;
}

#boardgames {
    grid-template-columns: 1fr;
}

.boardgame {
    border: solid;

}

.figureWrapper {
    display: flex;
    justify-content: center;
}

.boardgame figure {
    width: 50%;
}

.boardgame img {
    width: 100%;
}

.boardgame h2 {
    font-size: 1em;
}