/* ---------- Filter(Joshua) ---------- */
#filter {
    padding-bottom: 0;
}

.filter-wrapper {
    min-height: 60vh;
}

.filter-wrapper h2 {
    font-size: 1.4em;
    white-space: nowrap;
}

.main-wrapper {
    background-color: white;
    margin: 0px 15px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.grid-system {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    margin-top: 3em;
}

.box {
    width: 125px;
    height: 75px;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 1.75em;
    font-weight: bold;
}

#genres .box {
    font-size: 1em;
}

#boardgames {
    grid-template-columns: 1fr;
}

.boardgame {
    border: solid;

}

.figureWrapper {
    display: flex;
    justify-content: center;
}

.boardgame figure {
    width: 50%;
}

.boardgame img {
    width: 100%;
}

.boardgame h2 {
    font-size: 1em;
}