/* --------------------------------------------------------------------------- */
/* CSS by Mike */

#favoriteInfo img {
    width: 20%;

}

#favoriteInfo h2 {
    font-size: 1.1em;
}

#favoriteInfo h2,

#favoriteInfo p {


    text-align: left;
    margin: 0;
}

#favoriteInfo p {
    margin-right: 0.25em;
    font-size: 0.75em;
}

.favoriteWrapper {
    display: flex;
    padding: 1em;
    align-items: center;
}

.favoriteInfoWrapper {

    margin-left: 1em;
}

.favoriteCategories {
    display: flex;
}