/* --------------------------------------------------------------------------- */
/* CSS Sander */

.page {
    background-image: linear-gradient(to right bottom, #ff8ece, #ff98b1, #ffaa99, #ffc08c, #ffd78e, #ffd589, #ffd285, #ffd080, #ffb279, #ff918b, #ff74af, #ff6bdf);
}

.topbar {
    background: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 15px;
    padding: 10px;
    border-radius: 20px;
    background-color: white
}


.grid-container>article {
    text-align: center;
    padding: 10px;
    background: white;
}

.img-container {
    border: solid 2px white;
    border-radius: 15px;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.2);
    height: 160px;
    line-height: 160px;
    padding: 5px;


}

.grid-container>article img {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.grid-container>article h4 {
    margin: 10px 0;
}

.grid-container>article h5 {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}



input,
select {
    margin: 1em auto;
    width: 100%;
    max-width: 350px;
    padding: 15px 15px;
    box-sizing: border-box;
    display: block;
    border: 0;
    border-radius: 10px;
}